# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
.coverage
.venv/
venv/
scratch/

# Node (futur frontend/backend)
node_modules/
dist/
build/

# Env
.env
.env.local

# OS
.DS_Store

# Éditeurs
.vscode/
.idea/
